/* ===================== PSUDO CLASS ======================== */
/* input:focus{
    font-weight: 700;
    color: green;
    border: 1px solid red;
    font-size: 20px;
}
a:visited{
    color:red;
}

.names p:nth-child(2n-1){
    color: rgb(53, 15, 223);
    background-color: rgb(187, 177, 177);
    width: 200px;
} */


/* ===================== PSUDO ELEMENT ======================== */
/* .psudo h2::before{
    content: "Hello ";
    color: blue;
    background-color: #a7e4a7;
}
.psudo h2::after{
    content: "Hello ";
    color: rgb(24, 124, 24);
    background-color: #a7e4a7;
} */

/* ========== PSUDO INCREMENT ========== */
/* .psudo{
    counter-reset: section;
}
.psudo p::before{
    counter-increment: section;
    content: "Hello " counter(section) ": ";
} */


/* ===================== POSITION ======================== */
/* .container{
    width: 800px;
    height: 300px;
    background-color: skyblue;
    position: relative;
    overflow: scroll;
}
.fBox{
    width: 200px;
    height: 100px;
    background-color: red;
}
.sBox{
    width: 200px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 200px;
}
.tBox{
    width: 200px;
    height: 100px;
    background-color: green;
}
.foBox{
    width: 200px;
    height: 200px;
    background-color: yellow;
} */


/* ===================== 6 - Table ======================== */
/* table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}
 */





/* ===================== 7 - Transform/Transition ======================== */
/* .box{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}
.outer{
    background-color: lightgray;
}
.inner{
    background-color: tomato;
}
.inner:hover{
    transition: 3s ease 1s;
    transform: rotate(-60deg);
} */




/* ===================== 7 - Bat/Ball transform ======================== */
/* .cricket{

}
.bat{
    width: 250px;
}
.bat:hover{
    transform: rotate(-60deg);
    transform-origin: 100% 0;
    transition: transform .5s;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: sienna;
    position: relative;
    left: 370px;
    margin-top: -20px;
}
.cricket:hover .ball{
    transform: translate(950px, -150px);
    transition: transform 1s ease .4s;
} */






/* ===================== 7 - Ball Pendulam ======================== */
/* body{
    margin: 0;
}
@keyframes ballAnimation {
    0%{
        left: 100px;
    }
    50%{
        top: 300px;
        background-color: red;
    }
    100%{
        left: 500px;
        background-color: #9c38fa;
    }
}
.field{
    height: 500px;
    width: 100%;
    background-color: cyan;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    top: 200px;
    left: 100px;
    position: absolute;
}
.field:hover .ball{
    animation: ballAnimation 2s ease-in-out 0s infinite alternate;
} */





/* ===================== 7 - Grid ======================== */
/* 
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 30px 18px;
}
.box{
    text-align: center;
    border: 1px solid black;
}
.box1{
    background-color: #ef3155;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.box2{
    background-color: #fc46aa;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.box3{
    background-color: #fe7d68;
    grid-area: 1 / 3 / 2 / 3;
}
.box4{
    background-color: #fc4c4e;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
.box5{
    background-color: #a04242;
    grid-area: 3 / 3 / 4 / 3;
} */



/* ===================== 7 - Cleander ======================== */
/* ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    list-style: none;
    background-color: #a7a6a6;
    font-size: 2em;
}
.other-month{
    background-color: #cfcbcb;
} */




/* ===================== 7 - Responsive without @Media ======================== */
/* .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.food{
    width: 320px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 0 5px;
}
.food p{
    text-align: justify;
    padding: 5px;
}
.food img{
    width: 200px;
} */





































/* @media screen and (max-width: 320px){
    .container{
        background-color: lightgreen;
        width: 90%;
    }
    .fBox{
        width: 100px;
        height: 50px;
    }
    .sBox{
        width: 100px;
        height: 50px;
        left: 100px;
    }
    .tBox{
        width: 100px;
        height: 50px;
    }
    .foBox{
        width: 100px;
        height: 50px;
    }
} */